.ios-switch {
    position: absolute;
    opacity: 0;
}

.ios-switch + div {
    margin: 0; padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 56px;
    border-radius: 999px;
    background: #CDCDCD;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    transition-duration: .3s;
    transition-property: padding, width, background-color;
}

.ios-switch:checked + div {
    width: 24px;
    padding-left: 32px;
    background-color: #1E5098;
}

.ios-switch + div:before {
    content: '';
    float: left;
    width: 18px; height: 18px;
    margin: 3px;
    /*margin-top: 3px;  24 = 18 + 3 + 3*/
    /*margin-left: 3px;*/
    /*margin-right: 3px;*/
    border-radius: inherit;
    background: white;
}

/*.ios-switch:active + div:before {
    background-color: #eee;
}
*/
.ios-switch + div:before {
    font: bold 60%/1.9 sans-serif;
}


/* Switch code ends here, from now on it’s just bling for the demo page */

label {
    position: relative;
    display: inline-block;
    padding: .8em;
    font: bold 100% sans-serif;
    border: 1px solid #eee;
}


body {
    padding: 1em;
    font: 100% sans-serif;
}