html,body {
    margin: 0;
    padding: 0;
}
body {
    font: 17px/24px "Open Sans",sans-serif;
    background: #CDCDCD;
    color: #666;
}

.menu {
    background: #1E5098;
    color: #f1f1f1;
    text-align: center;
    height: 36px;
    padding-top: 8px;
    font-size: 17px;
    /*border-bottom: 4px solid #cdcdcd;*/
}


.section {
    clear: both;
    background:#F7F7F7;
    border: 1px solid #ccc;
    margin: 14px 4px 30px 4px;
    position: relative;
}
.section:after {
    content: " ";
    height: 3px;
    display: block;
    left: 3px;
    right: 3px;
    position: absolute;
    bottom: -3px;
    background: #bbb;
}

.section__item {
    overflow: auto;
    padding: 8px 8px 10px 8px;
    border-top: 1px solid #ccc;
    /*height: 40px;*/
    /*background: red;*/
}

.section__item:first-of-type {
    border-top:0;
}

.niceSwitcher {
    position: relative;
    display: block; 
    width: 56px;
    float:right;
    /*width: 256px;*/
    height: 26px;
    overflow: hidden;
    -webkit-user-select:none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    /* checkbox */
    .niceSwitcher__input {
        position: absolute;
        opacity: 0;
    }

    /* handler div */
    .niceSwitcher__handle {
        margin: 0; padding: 0;
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 56px;
        /*width: 256px;*/
        border-radius: 15px;
        background: #CDCDCD;
        overflow: hidden;

        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0) translateZ(0);
        -webkit-perspective: 1000;

        transition-duration: .3s;
        /*transition-timing-function: linear;*/
        transition-property: padding, width, background-color;
    }
        /* circle handler */
        .niceSwitcher__handle__item {
            content: '';
            display: inline-block;
            /*float: left;*/
            width: 18px; height: 18px;
            margin: 3px;
            /*margin-top: 3px;  24 = 18 + 3 + 3*/
            /*margin-left: 3px;*/
            /*margin-right: 3px;*/
            border-radius: inherit;
            background: white;
        }


    /* handler has different style when is after checked checkbox */
    .niceSwitcher__input:checked + .niceSwitcher__handle {
        width: 24px;
        /*width: 124px;*/
        padding-left: 32px;
        /*padding-left:132px;*/
        background-color: #1E5098;
    }
