.niceSwitcher {
    position: relative;
    display: block; 
    width: 56px;
    float:left;
    /*width: 256px;*/
    height: 24px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    /* checkbox */
    .niceSwitcher__input {
        position: absolute;
        opacity: 0;
    }

    /* handler div */
    .niceSwitcher__handle {
        margin: 0; padding: 0;
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 56px;
        /*width: 256px;*/
        border-radius: 15px;
        background: #CDCDCD;
        overflow: hidden;

        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0) translateZ(0);
        -webkit-perspective: 1000;

        transition-duration: .3s;
        /*transition-timing-function: linear;*/
        transition-property: padding, width, background-color;
    }
        /* circle handler */
        .niceSwitcher__handle__item {
            content: '';
            display: inline-block;
            /*float: left;*/
            width: 18px; height: 18px;
            margin: 3px;
            /*margin-top: 3px;  24 = 18 + 3 + 3*/
            /*margin-left: 3px;*/
            /*margin-right: 3px;*/
            border-radius: inherit;
            background: white;
        }


    /* handler has different style when is after checked checkbox */
    .niceSwitcher__input:checked + .niceSwitcher__handle {
        width: 24px;
        /*width: 124px;*/
        padding-left: 32px;
        /*padding-left:132px;*/
        background-color: #1E5098;
    }
